<%-include('../partials/header.ejs')%>
<%-include('../partials/navbar.ejs')%>
<%-include('../partials/flash.ejs')%>

<div class="row">
  <form action="/login" method="post" class="needs-validation" novalidate style="margin-top: 100px;">
    <div class="col-lg-3 mx-auto mb-3">
      <label for="validationCustomUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required name="username">
        <div class="invalid-feedback">
          Please enter your username.
        </div>
      </div>
    </div>
    <div class="col-lg-3 mx-auto mb-3">
      <label for="validationCustom03" class="form-label">Passsword</label>
      <input type="password" class="form-control" id="validationCustom03" required name="password">
      <div class="invalid-feedback">
        Please enter your password.
      </div>
    </div>
    <div class="col-lg-3 mx-auto">
      <p>Not a user? <a href="/register">Sign up</a></p>
      <button type="submit" class="btn btn-primary mx-auto">Log in</button>
    </div>
  </form>

  
</div>


<script>
  (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

<%-include('../partials/footer.ejs')%>