<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <!-- Navbar content -->
    <div class="container-fluid">
        <a class="navbar-brand" href="/products"><img src=" /media/logo.png" alt="" style="height: 30px;width: 100px;"></a>
        
    
        
        <%if(currentUser){%>
          <div style="display: flex; justify-content: center; align-items: center; position: absolute; right: 100px; max-width: fit-content;" class="col-sm-2">
            <i class="fa-solid fa-circle fa-2xs" style="color: #15c137;"></i>
            <span style="color: white;">&nbsp;<%=currentUser.username%></span>
          </div>
        <%}%>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <%if(!currentUser){%>
              <li class="nav-item">
                <a class="nav-link" href="/register">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Sign In</a>
              </li>
            <%} else if(currentUser){%>
              <%if(currentUser.role == 'seller'){%>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/products/new">Add products</a>
                </li>
                <%}%>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Sign Out</a>
            </li>
            <a href="/user/cart" class="index-navbar-btn">
              <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
              <sup><span class="badge bg-danger"><%=currentUser.cart.length%></span></sup>
            </a>
            <%}%>
          </ul>
        </div>
      </div>
  </nav>